@font-face {
    font-family: 'Rajdhani';
    src: url('./fonts/Rajdhani-Regular.ttf') format('truetype');
}

.se-display {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Rajdhani', sans-serif;

    width: 100vw;
    height: 100vh;
    background-color: #1a1c20;

    color: #e5e7eb;
}

#title {
    font-size: 120px;
}

.se-display #img-logo {
    position: absolute;
    animation: loding 1.25s ease;
    opacity: 0.25;
    pointer-events: none;
}
@keyframes loding {
    0% {transform: scaleY(0);}
    100% {transform: scaleY(1);}
}


.search-pleace {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.search-input {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    width: max-content;
    padding: 5px 15px;

    font-size: 30px;
    
    background-color: rgb(66, 66, 66); 
    
    transform: scale(0);
    animation: show 1s ease forwards;
    
}

.search-input > button {
    padding: 5px 10px;
    box-shadow: 0 0 5px black;
}

@keyframes show {
    0% {transform: scaleX(0);}
    100% {transform: scaleX(1);}
}

.se-display .search-input input {
    padding: 4px 12px;
}